.container{
  margin-top:100px;
}


/* Default style */
.card-container {
  background-color: #27374D !important;
  text-align: center;
    transition: background-color 0.2s, transform 0.2s;
  }
  
  /* Hover style */
  .card-container:hover {
    background-color: #526D82 !important;
    transform: translateY(-5px);
  }



