



.sidebar {
    height: 100%;
    width: 65px;
    position: fixed;
    z-index: 1;
    left: 0; 
    
    background-color: #E4DCCF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    white-space: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    
}

.sidebar a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    /* color: #818181; */
    color: #002B5B;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #002B5B;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.material-icons,
.icon-text {
    vertical-align: middle;
}

.material-icons {
    padding-bottom: 3px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 50px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}